.navbar {
  background-color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #333333;
  font-family: 'Courier New', Courier, monospace;
  color: #00ff00;
  list-style-type: none; 
}

.navbar-item {
  list-style-type: none; 
  margin: 0 15px; 
}

.navbar-link {
  color: #00ff00;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #cc0000;
}

.navbar button {
  background-color: #000000;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 0.3s, color 0.3s;
}

.navbar button:hover {
  background-color: #333333;
  color: #00ff00;
}
